<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input #box (keyup.enter)="onEnter(box.value)">
</div>
<div *ngIf="result">
<ul>  
    <li *ngFor="let car of result">
      <div>{{car.licenseNum}}</div>
  </li>
</ul>
</div>
<div *ngIf="errorMessage">
    {{errorMessage}}
    <br>
    Api URL called was :{{foodService.apiURL}}
</div>
<div>
    <input #carName placeHolder="CarName">
    
    <button (click)="AddCar(carName.value)" >List Your Car</button>
</div>

